<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c - %m%n" />
		</layout>
	</appender>

	<!-- rolling file appender (rolling) -->
	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="${log.dir}/mark_as_ended_command.log" />
		<param name="immediateFlush" value="true" />
		<param name="maxFileSize" value="5000KB" />
		<param name="maxBackupIndex" value="2" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c - %m%n" />
		</layout>
	</appender>


	<category name="se.redseven" additivity="false">
		<priority value="info" />
		<appender-ref ref="console"/>
	</category>

	<root>
		<!-- all|debug|info|warn|error|fatal|off|null -->
		<priority value="info" />
		<appender-ref ref="console" />
		<!--appender-ref ref="logfile" / -->
	</root>

</log4j:configuration>